body {
    overflow: unset;
    height: unset;
    margin: 0 auto;
    max-width: 1400px;
}

h1.brand img {
    object-fit: cover;
}

body.layout-reverse .container.content {
    direction: unset;
}

.layout-reverse .container.content {
    padding: 2rem;
}

@media (max-width: 48em) {
    .layout-reverse .container.content {
        padding: 1rem;
    }

    aside.sidebar {
        order: 1
    }
}

@media (min-width: 48rem) {
    .content {
        margin-left: 0;
        margin-right: 0;
    }
}

.content {
    max-width: unset;
}

.post {
    margin-bottom: 0;
}

hr {
    margin: 1rem 0;
}

ul.series>li {
    list-style-type: none;
}

/* playfair display */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('/fonts/playfair-display-black.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/playfair-display-black.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.sidebar-about h1 {
    font-weight:900;
    font-size: 1.5em;
    font-family: "Playfair Display", serif;
}
