body {
    overflow: unset;
    height: unset;
    margin: 0 auto;
    max-width: 1400px;
}

h1.brand img {
    object-fit: cover;
}

body.layout-reverse .container.content {
    direction: unset;
}

.layout-reverse .container.content {
    padding: 2rem;
}

@media (max-width: 48em) {
    .layout-reverse .container.content {
        padding: 0.5rem 1rem 1rem;
    }

    aside.sidebar {
        order: 1
    }
}

@media (min-width: 48rem) {
    .content {
        margin-left: 0;
        margin-right: 0;
    }
}

.content {
    max-width: unset;
}

.post {
    margin-bottom: 0;
}

hr {
    margin: 1rem 0;
}

ul.series>li {
    list-style-type: none;
}

